body { 
	margin: 0; 
	padding: 0; 
	font-family: "Courier New";
}

button {
	font-family: "Courier New";
}

form {
	position: absolute;
	top: 2%;
	left: 20%;
	width: 60%;
	z-index: 500;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-labels {
	width: 175px;
	opacity: 1;
}

.leaflet-tooltip {
	background-color: rgba(255, 255, 255, .5);
	border: none;
	font-family: "Courier New";
	line-height: 12px;
	min-width: 175px;
	/* box-shadow: none; */
    white-space: normal;
} 

.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
	border-left-color: transparent;
} 

#add-data {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 700;
	font-size: 24px;
}


#clear {
	width: 20%;
}

#info {
	background-color: white;
	opacity: .7;

	position: absolute;
	right: 2%;
	top: 10%;
	height: 80%;
	width: 25%;

	z-index: 700;
}

#map { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
}

#search {
	width: 75%
}

